@charset "utf-8";
/*=========================================
|	                  FONT                   |
==========================================*/
/* @import url("font/TitilliumWeb.css"); */
@import url(//font.elice.io/EliceDigitalBaeum.css);

html,
body,
input,
select,
textarea,
button,
table {
  font-family: 'Pretendard', 'Noto Sans KR', '돋움', Dotum, 'Helvetica Neue', 'Apple SD Gothic Neo', sans-serif;
  font-size: 16px;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  color: #000;
  font-weight: 500;
  letter-spacing: 0;
}

#header .gnb {
  font-family: "Elice Digital Baeum", sans-serif;
}

#header .gnb li:hover {
  font-weight: 700;
}

.product-view p,
.product-view span,
.product-view pre {
  font-family: 'Pretendard', 'Noto Sans KR', '돋움', Dotum, 'Helvetica Neue', 'Apple SD Gothic Neo', sans-serif !important;
}

.subVisual .text-ti {
  font-family: "Elice Digital Baeum", sans-serif;
}

@media screen and (max-width: 768px) {

  html,
  body,
  input,
  select,
  textarea,
  button,
  table {
    font-weight: 300;
  }
}