@charset "utf-8";

/*=========================================
/	MAIN
==========================================*/
html,
body,
#wrapper {
  height: 100%;
  overflow: hidden;
  min-width: 320px;
}

#header {
  position: relative;
  height: 80px;
  background-color: #fff;
  padding: 23px 0 0 60px;
  z-index: 99999;
}

#header:after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ddd;
}

#header .logo {
  width: 112px;
  height: 34px;
}

#header .gnb {
  position: absolute;
  right: 100px;
  top: 29px;
}

#header .gnb li:hover {
  color: #220ba6;
  cursor: pointer;
}

#header .gnb:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 80px;
  display: inline-block;
  width: 1px;
  height: 13px;
  background: #aaa;
}

#header .gnb ul {
  display: flex;
}

#header .gnb ul li {
  padding: 0 20px;
  font-size: 22px;
}

#header .btn-menu-gnb {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #220ba6;
  padding: 25px;
}

#header .btn-menu-gnb img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

#header .util01 .depth02 {
  display: none;
}

#header .util01:hover .depth02 {
  display: block;
  position: absolute;
  background: #fff;
  right: 20px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: #ddd;
  z-index: 999;
  top: 60px;
}

#header .util01:hover .depth02 li {
  float: none;
  border-bottom: 1px solid #ddd;
}

#header .util01:hover .depth02 li a {
  width: 150px;
  height: 40px;
  line-height: 40px;
  color: #777;
  font-size: 14px;
  padding: 0;
}

#header .util01:hover .depth02 li a:hover {
  /* color: #000; */
  background: #efecfd;
  font-weight: 500;
}

#header .util01 li a {
  display: block;
  height: 80px;
  line-height: 80px;
  font-size: 14px;
  text-align: center;
  padding-top: 5px;
}

#header .util01>li>a {
  text-align: left;
  padding-left: 25px;
}

#header .util01>li>a>.img-wrap {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 30px;
  border: 1px solid #ddd;
  border-radius: 30px;
  margin-right: 5px;
  vertical-align: top;
  margin-top: 23px;
  position: relative;
  overflow: hidden;
}

#header .util01>li>a>.img-wrap img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#header .util01>li>a>span {
  font-weight: 500;
}

#header .util01 li i {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: #ddd;
  color: #fff;
  line-height: 30px;
  border-radius: 30px;
  margin-right: 5px;
  font-size: 24px;
  vertical-align: top;
  margin-top: 23px;
  text-align: center;
}

#header .util01 li i.xi-ellipsis-h {
  margin-left: 65px;
  background: #fff;
  color: #220ba6;
}

#header .util01 li a img {
  display: inline-block;
  width: 30px;
}

#header .util01 li a span {
  display: inline-block;
}

#header .util01 li:nth-child(2) a img {
  width: 28px;
  margin-bottom: 6px;
  margin-top: 1px;
}

#header .util01 li:nth-child(3) a img {
  width: 30px;
}

#header .util01 li a.btn-basket {
  position: relative;
}

#header .util01 li a.btn-basket .num {
  position: absolute;
  top: 7px;
  right: 13px;
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #000;
  color: #fff;
  line-height: 20px;
  border-radius: 20px;
}


.slider-menu {
  z-index: 9999;
  transform: translateX(100%);
  position: fixed;
  right: 0;
  top: 81px;
  background: #fff;
  height: calc(100vh - 81px);
  width: 300px;
  font-size: 18px;
  transition: all .3s;
  z-index: 999999;
}

.slider-menu.active {
  transform: translateX(0);
  transition: all .3s;
  z-index: 999999;
}

.slider-menu .top-menu {
  display: flex;
  position: relative;
  background: #220ba6;
  color: #fff;
  width: 100%;
  height: 60px;
}
.slider-menu .top-menu:hover {
  background: #1d0a8b;
}

.slider-menu .top-menu:before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 150px;
  top: 0;
  background: #fff;
  width: 1px;
  height: 100%;
}

.slider-menu .top-menu li {
  width: 50%;
  color: #fff;
  text-align: center;
}

.slider-menu .top-menu a {
  display: inline-block;
  width: 100%;
  height: 100%;
  color: #fff;
  line-height: 60px;
}

.slider-menu .gnb_scroll {
  height: calc(100% - 140px);
  overflow: auto;
}

.slider-menu .gnb_scroll ul {
  padding: 20px 25px 0;
}

.slider-menu .gnb_scroll li:last-child {
  border-bottom: none;
}
.slider-menu .gnb_scroll li:last-child:hover {
  border-bottom: none;
}

.slider-menu .gnb_scroll li {
  border-bottom: 1px solid #492edf;
  position: relative;
}

.slider-menu .gnb_scroll li:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 0;
  height: 1px;
  background: #492edf;
  transition: all 1s;
}
.slider-menu .gnb_scroll li:hover:before {
  width: 100%;
  transition: all 1s;
}
.slider-menu .gnb_scroll li:hover {
  border-bottom: 1px solid #ddd;
}

.slider-menu .gnb_scroll li .depth02 {
  display: none;
  padding: 10px 0;
}

.slider-menu .gnb_scroll li a {
  display: block;
  width: 100%;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  position: relative
}

.slider-menu .gnb_scroll li.on>a {
  border-bottom: 1px solid #ddd;
}

.slider-menu .gnb_scroll li .depth02>li {
  border-bottom: none;
}

.slider-menu .gnb_scroll li .depth02>li>a {
  color: #555;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
}

.slider-menu .gnb_scroll li a i {
  position: absolute;
  right: 20px;
  top: 30px;
  font-size: 11px;
  transition: all 0.5s;
  color: #220ba6;
}

.slider-menu .gnb_scroll li a .line {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  width: 11px;
  height: 1px;
  background: #220ba6;
  transition: all .5s;
}

.slider-menu .gnb_scroll li a .line:nth-child(2) {
  right: 25px;
  width: 1px;
  height: 11px;
}

.slider-menu .gnb_scroll li.on a .line:nth-child(2) {
  transform: translateY(-50%) rotate(90deg);
  transition: all .5s;
  transform-origin: center center;
}

.slider-menu .bottom-menu {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: #220ba6;
}

.slider-menu .bottom-menu:before {
  content: '';
  position: absolute;
  left: 100px;
  top: 0;
  width: 1px;
  height: 100px;
  background: #8e7aff;
}

.slider-menu .bottom-menu:after {
  content: '';
  position: absolute;
  left: 200px;
  top: 0;
  width: 1px;
  height: 100px;
  background: #8e7aff;
}

.slider-menu .bottom-menu li {
  float: left;
  width: 100px;
  text-align: center;
}

.slider-menu .bottom-menu li a {
  display: block;
  color: #fff;
  height: 100px;
  font-size: 12px;
  text-align: center;
  padding-top: 25px;
}

.slider-menu .bottom-menu li a img {
  display: inline-block;
  width: 22px;
  margin-bottom: 5px;
}

.slider-menu .bottom-menu li:nth-child(2) a img {
  width: 30px;
}

.slider-menu .bottom-menu li:nth-child(3) a img {
  width: 22px;
}

#main {
  width: 100%;
  height: calc(100% - 81px);
  background: #f7f7f7;
  font-family: "Elice Digital Baeum", sans-serif;
}

.mainvisual {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.mainvisual .text-wrap {
  position: absolute;
  top: 120px;
  left: 160px;
  font-family: "Elice Digital Baeum", sans-serif;
  z-index: 1;
}

.mainvisual .text-wrap .line {
  display: inline-block;
  background: url(../img/line-bar.png) no-repeat center center;
  width: 77px;
  height: 5px;
  margin-bottom: 30px;
}

@keyframes left01 {
  0% {
    transform: translateX(-30%);
    opacity: 0;
  }

  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.mainvisual .text-wrap .text-de {
  font-size: 30px;
  margin-bottom: 30px;
  animation: left01 1s forwards;
}

.mainvisual .text-wrap .text-ti {
  font-size: 50px;
  animation: left01 1s forwards;
}

.mainvisual .text-wrap .text-ti .color {
  display: inline-block;
  color: #220ba6;
  margin-top: 15px;
}

.mainvisual .bg-wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.mainvisual .bg-wrap img {
  display: inline-block;
  position: absolute;
}

.mainvisual .bg-wrap .bg {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 90vw;
  height: 100%;
}

.mainvisual .bg-wrap .bg img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

/* 메인 애니메이션 */
.mainvisual .bg-wrap .car01 img {
  width: 2.60vw;
  right: 59.68vw;
  bottom: 16.19vw;
}

.mainvisual .bg-wrap .car02 img {
  width: 2.60vw;
  animation: car2 15s infinite;
}

.mainvisual .bg-wrap .car03 img {
  width: 2.60vw;
  animation: car3 15s infinite;
}

.mainvisual .bg-wrap .sign01 img {
  width: 5.20vw;
  right: 30.64vw;
  bottom: 480vw;
  animation: sign1 2s infinite;
}

.mainvisual .bg-wrap .sign02 img {
  width: 5.20vw;
  right: 51.91vw;
  bottom: 600px;
  animation: sign2 3s infinite;
}

/* 메인 페이지이동버튼 영역 */
.mainvisual .btn-wrap {
  width: 100%;
  height: 100%;
  height: 100%;
  min-width: 1280px;
  max-width: 1920px;
  max-height: 1080px;
  min-height: 667px;
  z-index: 1000;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
}

.mainvisual .btn-wrap a {
  display: block;
  position: absolute;
  right: 38.5vw;
  bottom: 27.5vw;
  width: 10vw;
  height: 10vw;
  z-index: 1000;
}

.mainvisual .btn-wrap a.btn-case {
  z-index: 1000;
}

.mainvisual .btn-wrap a.btn-case1 {
  right: 25vw;
  bottom: 34vw;
}

.mainvisual .btn-wrap a.btn-case2 {
  right: 11vw;
  bottom: 26vw;
}

.mainvisual .btn-wrap a.btn-case3 {
  right: 3vw;
  bottom: 23vw;
  z-index: 2;
}

.mainvisual .btn-wrap a.btn-case4 {
  right: 49vw;
  bottom: 4vw;
}

/* 메인 페이지이동버튼 마우스오버 text */
.mainvisual .btn-wrap a .text-box {
  opacity: 0;
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 0 40px 0 20px;
  height: 45px;
  line-height: 43px;
  border-radius: 45px;
  border: solid;
  background: #fff;
  transition: all 0.5s;
  font-family: "Elice Digital Baeum", sans-serif;
  border: solid 1px #eee;
  box-shadow: 0 1px 4px 0 rgb(0 0 0 / 10%);
  word-break: keep-all;
}

.mainvisual .btn-wrap a .text-box:after {
  content: '';
  display: inline-block;
  position: absolute;
  right: 20px;
  top: 18px;
  width: 10px;
  height: 11px;
  background: url(../icon/arrow01.png) no-repeat;
  z-index: 1000;
}

.mainvisual .btn-wrap a:hover .text-box {
  top: -30px;
  opacity: 1;
  transition: all 0.5s;
}

.mainvisual .btn-wrap a.btn-case1:hover .text-box {
  top: 0px;
  opacity: 1;
  transition: all 0.5s;
}

/* 
@keyframes car1 {
	0% {left: 555px; top: 400px; opacity: 1;}
	90% {opacity: 1;}
	95% {opacity: .5;}
	100% {left: 1135px; top: 725px; opacity: 0;}
} */

@keyframes car2 {
  0% {
    right: 28.04vw;
    bottom: 1.04vw;
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  95% {
    opacity: .5;
  }

  100% {
    right: 67.31vw;
    bottom: 23.64vw;
    opacity: 0;
  }
}

@keyframes car3 {
  0% {
    right: 21.09vw;
    bottom: 32.86vw;
    opacity: 1;
  }

  40% {
    right: 42.09vw;
    bottom: 20.86vw;
  }

  45% {
    right: 42.09vw;
    bottom: 20.86vw;
  }

  80% {
    opacity: 1;
  }

  85% {
    opacity: .1;
  }

  100% {
    right: 76.87vw;
    bottom: 0.52vw;
    opacity: 0;
  }
}

@keyframes sign1 {
  0% {
    bottom: 23.5vw;
  }

  50% {
    bottom: 22.5vw;
  }

  100% {
    bottom: 23.5vw;
  }
}

@keyframes sign2 {
  0% {
    bottom: 29.12vw;
  }

  50% {
    bottom: 30.25vw;
  }

  100% {
    bottom: 29.12vw;
  }
}

#main-footer {
  position: relative;
  bottom: -3px;
  margin-top: 120px;
  text-align: center;
  font-size: 14px;
  color: #220ba6;
  font-weight: bold;
  padding-bottom: 30px;
}

#main-footer .tel {
  color: #000;
  font-size: 24px;
  margin-top: 10px;
}

#main-footer .btn-info {
  color: #999;
  display: block;
  margin: 20px 0 10px;
  font-size: 14px;
  line-height: 14px;
  height: auto;
  font-weight: normal;
}

#main-footer .btn-info i {
  position: static;
  margin-left: 15px;
  transition: all 0.5s;
}

#main-footer .btn-info.on i {
  transform: rotate(-180deg);
  transition: all 0.5s;
}

#main-footer .info-wrap {
  display: none;
  font-size: 12px;
  color: rgb(199, 199, 199);
  line-height: 18px;
}

#main-footer .info-wrap.on {
  display: block;
}

#main-footer .info-wrap .cal-01 {
  margin-bottom: 10px;
  font-weight: normal;
  text-align: left;
  padding-left: 25px;
}

#main-footer .link-list li {
  border: none;
  font-weight: normal;
  text-align: left;
}

#main-footer .link-list li a {
  line-height: 20px;
  height: auto;
  padding: 0;
}

#main-footer .footer-copy {
  background: #f1f1f1;
  color: #777;
  text-align: center;
  font-size: 11px;
  line-height: 30px;
  margin-top: 30px;
}

/*      모달창       */
.blocker {
  z-index: 999999;
  padding: 50px 15px;
}

.footer_modal {
  position: relative;
  min-width: 320px;
  max-width: 800px;
  padding: 40px 30px 70px;
  border: solid 3px #220ba6;
}

.footer_modal h3 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}

.footer_modal .text_box {
  border-top: 1px solid #222;
  border-bottom: 1px solid #222;
  padding: 30px 15px;
}

.footer_modal .text_box h4 {
  font-size: 18px;
  font-weight: 500;
}

.footer_modal .text_box h5 {
  font-size: 16px;
  font-weight: 500;
}

.footer_modal .text_box {
  font-size: 14px;
}

.footer_modal .text_box.box4 p:last-child {
  font-size: 12px;
  color: #555;
}

.footer_modal .text_box ul {
  padding-left: 15px;
}

.footer_modal a.close-modal {
  display: none;
}

.footer_modal .btn_close {
  position: absolute;
  left: 50%;
  top: -25px;
  transform: translateX(-50%);
  color: #222;
}

.footer_modal .btn_close a {
  display: inline-block;
  width: 50px;
  height: 50px;
  background: #fff;
  border: 2px solid #220ba6;
  font-size: 20px;
  color: #222;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}


/* 모바일 시작 */
.bg-wrap .bg {
  display: block;
}

.bg-wrap .m-bg {
  display: none;
}

#Mheader .sub {
  display: none !important;
}

#Mheader {
  display: none !important;
}

#Mgnb {
  display: none !important;
}

#main .mainvisual .text-wrap {
  display: block;
}

#main .mainvisual .btn-wrap {
  display: block;
}

#main .mainvisual .localSelect {
  display: none;
}

#main .mainvisual .mBtn-wrap {
  display: none;
}

.Mmain {
  display: none;
}



/* 모바일 사업자정보 */
#information {
  width: 100%;
  padding: 0;
}

#wrapper.moblie #header {
  position: fixed;
  top: 0;
  z-index: 9999999;
}

.m-title {
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #bbb;
  background: #fff;
  font-size: 20px;
}

.left-text {
  float: left;
  width: 48%;
  text-align: right;
  padding-right: 10px;
  font-weight: 900;
}

.right-text {
  float: left;
  width: 52%;
  text-align: left;
  padding-left: 10px;
  color: #999;
}

#wrapper.moblie .contents {
  overflow: auto;
  margin: 0 auto;
  padding: 80px 0 200px;
  position: relative;
  width: 100%;
}

.information .contents .text-wrap {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
}

.information .contents .left-text ul li,
.information .contents .right-text ul li {
  margin-bottom: 5px;
  font-size: 12px;
}

.moblie .logo {
  display: block;
  text-align: center;
  position: static;
  margin: 30px 0 30px;
  font-size: 36px;
  font-weight: 900;
}

.m_menu {
  margin-top: 300px;
}

.m_menu>li {
  font-size: 14px;
  background: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.m_menu>li>a {
  display: block;
  text-align: left;
  line-height: 48px;
  padding-left: 20px;
  position: relative;
}

.m_menu li a i {
  position: absolute;
  right: 20px;
  top: 19px;
  font-size: 14px;
}

.mypage .m_menu {
  margin-top: 50px;
}

.btn-myInfo,
.btn-logout {
  display: block;
  text-align: left;
  line-height: 48px;
  padding-left: 20px;
  background: #fff;
  font-size: 14px;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  margin-top: 15px;
  position: relative;
}

.btn-myInfo i,
.btn-logout i {
  position: absolute;
  right: 20px;
  top: 19px;
  font-size: 14px;
  color: #222;
}

.btn-logout i {
  top: 15px;
  font-size: 20px;
}

.btn-logout {
  margin-top: 40px;
}

.top-row p {
  padding-left: 20px;
  font-size: 12px;
}

@media screen and (max-width: 1680px) {
  .mainvisual .bg-wrap .bg {
    width: 100vw;
  }

  /* 메인 페이지이동버튼 영역 */
  .mainvisual .btn-wrap a {
    right: 42vw;
    bottom: 30vw;
    width: 13vw;
    height: 12vw;
  }

  .mainvisual .btn-wrap a.btn-case1 {
    right: 27.5vw;
    bottom: 38vw;
  }

  .mainvisual .btn-wrap a.btn-case2 {
    right: 12vw;
    bottom: 30vw;
  }

  .mainvisual .btn-wrap a.btn-case3 {
    right: 2vw;
    bottom: 25vw;
  }

  .mainvisual .btn-wrap a.btn-case4 {
    right: 54vw;
    bottom: 5vw;
  }

  /* 메인 페이지이동버튼 마우스오버 text */
  .mainvisual .btn-wrap a.btn-case1:hover .text-box {
    top: -30px;
  }

  .mainvisual .bg-wrap .car01 img {
    width: 2.60vw;
    right: 66.3vw;
    bottom: 17.9vw;
  }

  .mainvisual .bg-wrap .car02 img {
    width: 2.60vw;
    animation: car2 15s infinite;
  }

  .mainvisual .bg-wrap .car03 img {
    width: 2.60vw;
    animation: car3 15s infinite;
  }

  .mainvisual .bg-wrap .sign01 img {
    right: 33.64vw;
  }

  .mainvisual .bg-wrap .sign02 img {
    right: 57.91vw;
  }

  @keyframes sign1 {
    0% {
      bottom: 25.5vw;
    }

    50% {
      bottom: 24.5vw;
    }

    100% {
      bottom: 25.5vw;
    }
  }

  @keyframes sign2 {
    0% {
      bottom: 32.12vw;
    }

    50% {
      bottom: 33.25vw;
    }

    100% {
      bottom: 32.12vw;
    }
  }

  @keyframes car2 {
    0% {
      right: 30.93vw;
      bottom: 1.16vw;
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    95% {
      opacity: .5;
    }

    100% {
      right: 74.34vw;
      bottom: 26.13vw;
      opacity: 0;
    }
  }

  @keyframes car3 {
    0% {
      right: 23.31vw;
      bottom: 36.28vw;
      opacity: 1;
    }

    40% {
      right: 46.50vw;
      bottom: 23.04vw;
    }

    45% {
      right: 46.50vw;
      bottom: 23.04vw;
    }

    80% {
      opacity: 1;
    }

    85% {
      opacity: .1;
    }

    100% {
      right: 84.91vw;
      bottom: 0.54vw;
      opacity: 0;
    }
  }
}

/* @media screen and (max-width: 1400px) {
	.mainvisual .bg-wrap .bg {width: 110vw;}
} */


/* Mgnb */
/* Mgnb */
/* Mgnb */
@media screen and (max-width: 810px) {
  #header {
    display: none;
  }

  #footer {
    display: none;
  }

  #Mheader {
    display: block;
    min-width: 320px;
  }

  #Mheader .main {
    display: none;
  }

  #Mheader .sub {
    display: block;
  }

  #Mgnb {
    display: block;
  }

  #Mheader {
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    z-index: 9;
  }

  #Mheader .logo {
    width: 75px;
    height: 34px;
    margin: 15px 20px;
  }


  #Mgnb .Mgnb-wrap {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #fff;
    z-index: 999;
    min-width: 320px;
    border-top: 1px solid #ddd;
  }

  #Mgnb .Mgnb-wrap {
    overflow: hidden;
  }

  #Mgnb .Mgnb-wrap li {
    float: left;
    width: 20%;
    text-align: center;
  }

  #Mgnb .Mgnb-wrap li a {
    display: block;
    height: 70px;
    font-size: 12px;
    padding-top: 15px;
    color: #555;
  }

  #Mgnb .Mgnb-wrap li a i {
    color: #777;
    font-size: 20px;
    margin-bottom: 5PX;
  }

  #Mgnb .Mgnb-wrap li a.btn-search {
    color: #220ba6;
  }

  #Mgnb .Mgnb-wrap li a.btn-search i {
    color: #220ba6;
  }

  .menu-gnb {
    position: fixed;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 99;
    width: 100%;
    height: 100%;
    transform: translateX(100%);
    transition: all 0.5s;
    display: block;
    overflow: auto;
    padding-bottom: 110px;
  }

  .menu-gnb.on {
    transform: translateX(0);
  }

  .menu-gnb h2 {
    height: 55px;
    line-height: 55px;
    text-align: center;
    border-bottom: 1px solid #bbb;
    background: #fff;
    font-size: 20px;
  }

  .menu-gnb h4 {
    font-size: 16px;
    padding: 40px 30px 15px;
    color: #1fadcc;
  }

  .menu-gnb ul>li {
    font-size: 14px;
    background: #fff;
  }

  .menu-gnb ul>li:last-child {
    margin-right: 0;
  }

  .menu-gnb ul li a {
    display: block;
    height: 45px;
    line-height: 45px;
    position: relative;
    font-size: 16px;
  }

  .menu-gnb li a i {
    position: absolute;
    right: 20px;
    top: 19px;
    font-size: 14px;
    transition: all 0.5s;
    color: #1fadcc;
  }

  /* .menu-gnb li.on a i {transform: rotate(180deg); transition: all 0.5s;} */
  .menu-gnb ul li .depth02 {
    display: none;
  }

  .menu-gnb ul li .depth02>li {
    background: #220ba6
  }

  .menu-gnb ul li .depth02>li a {
    color: #fff;
  }

  .top-menu {
    overflow: hidden;
    border: none;
    padding: 0 30px;
  }

  .top-menu>li {
    float: left;
    width: calc(25% - 12px);
    margin-right: 15px;
    text-align: center;
    border: 1px solid #ddd !important;
    padding: 10px 0;
  }

  /* .menu-gnb .top-menu li .depth02 {display: none;}  */
  .top-menu>li>a {
    display: block;
    height: 80px;
    font-size: 11px !important;
    padding: 0 !important;
    padding-top: 15px;
    color: #220ba6;
    line-height: 20px !important;
    height: auto !important;
  }

  .top-menu>li>a>i {
    position: static;
    font-size: 18px;
    color: #220ba6;
  }

  .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 35px;
    background: none;
    border: none;
  }

  .menu-gnb .row01,
  .menu-gnb .row02 {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
  }

  .menu-gnb .row01 {
    padding: 28px 30px;
  }

  .menu-gnb .row02 {
    margin-bottom: 30px;
  }

  .menu-gnb .row03 {
    border-top: 1px solid #220ba6;
    margin: 0 20px;
  }

  .menu-gnb .row03 li {
    border-bottom: 1px solid #ddd;
  }

  .menu-gnb .row01 li {
    width: calc(50% - 10px);
    margin-right: 20px;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 20px;
  }

  .menu-gnb .row01 li:nth-child(2n) {
    margin-right: 0;
  }

  .menu-gnb .row01 li a {
    background: url(../img/bigmenu01.png) center center no-repeat;
    height: 0;
    padding: 0;
    padding-bottom: 100%;
    line-height: unset;
    background-size: 100%;
  }

  .menu-gnb .row01 li:nth-child(2) a {
    background: url(../img/bigmenu02.png) center center no-repeat;
    background-size: 100%;
  }

  .menu-gnb .row01 li:nth-child(3) a {
    background: url(../img/bigmenu03.png) center center no-repeat;
    background-size: 100%;
  }

  .menu-gnb .row01 li:nth-child(4) a {
    background: url(../img/bigmenu04.png) center center no-repeat;
    background-size: 100%;
  }

  .menu-gnb .row01 li a span {
    position: absolute;
    left: 15%;
    top: 15%;
    font-size: 20px;
    font-weight: bold;
  }

  .menu-gnb .row02 li {
    width: calc(50% - 2.5px);
    margin-right: 5px;
    border-radius: 10px;
    overflow: hidden;
  }

  .menu-gnb .row02 li:last-child {
    margin-right: 0;
  }

  .menu-gnb .row02 li a {
    background-color: #000;
    color: #fff;
    text-align: center;
  }

  .menu-gnb .row03 li a {
    padding-left: 40px;
  }

  .menu-gnb .row03 li a:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 3px;
    background: #9e8dff;
    border-radius: 100%;
  }


  .m-footer {
    text-align: center;
    color: #777;
    font-size: 16px;
    margin-top: 50px;
  }

  .m-footer .tel {
    position: relative;
    color: #000;
    font-size: 25px;
    font-weight: 900;
    margin: 35px 0;
  }

  .m-footer .tel:before {
    content: '';
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 41px;
    transform: translateX(-50%);
    width: 10%;
    height: 2px;
    background: #220ba6;
  }

  .m-footer a {
    color: #777;
    display: block;
    margin: 5px 0;
  }

  .m-footer a i {
    margin-left: 10px;
  }

  .m-footer .footer-copy {
    font-size: 12px;
    margin-top: 20px;
  }


  .btn-back {
    display: inline-block;
    position: absolute;
    font-size: 28px;
    left: 15px;
    top: 15px;
  }

  .m-title {
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: #fff;
    font-size: 20px;
  }

}





@media screen and (max-width: 767px) {
  .mainvisual .bg-wrap .car01 img {
    width: 3.8vw;
    right: 86.1vw;
    bottom: 23.2vw;
  }

  .mainvisual .bg-wrap .car02 img {
    width: 3.8vw;
    animation: car2 15s infinite;
  }

  .mainvisual .bg-wrap .car03 img {
    width: 3.8vw;
    animation: car3 15s infinite;
  }

  .mainvisual .bg-wrap .sign01 img {
    width: 10vw;
    right: 42.64vw;
  }

  .mainvisual .bg-wrap .sign02 img {
    width: 10vw;
    right: 73.91vw;
  }

  @keyframes sign1 {
    0% {
      bottom: 32.9vw;
    }

    50% {
      bottom: 31.9vw;
    }

    100% {
      bottom: 32.9vw;
    }
  }

  @keyframes sign2 {
    0% {
      bottom: 43.12vw;
    }

    50% {
      bottom: 42.0vw;
    }

    100% {
      bottom: 43.12vw;
    }
  }

  @keyframes car2 {
    0% {
      right: 40.16vw;
      bottom: 1.51vw;
      opacity: 1;
    }

    90% {
      opacity: 1;
    }

    95% {
      opacity: .5;
    }

    100% {
      right: 96.52vw;
      bottom: 33.92vw;
      opacity: 0;
    }
  }

  @keyframes car3 {
    0% {
      right: 30.27vw;
      bottom: 47.10vw;
      opacity: 1;
    }

    40% {
      right: 60.37vw;
      bottom: 29.91vw;
    }

    45% {
      right: 60.37vw;
      bottom: 29.91vw;
    }

    80% {
      opacity: 1;
    }

    85% {
      opacity: .1;
    }

    100% {
      right: 110.24vw;
      bottom: 0.71vw;
      opacity: 0;
    }
  }

  #main .mainvisual .text-wrap {
    left: 25px;
    top: 30px;
  }

  .mainvisual .text-wrap .text-de {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .mainvisual .text-wrap .line {
    margin-bottom: 20px;
  }

  .mainvisual .text-wrap .text-ti {
    font-size: 25px;
    line-height: 0.8;
  }

  #main .mainvisual .btn-wrap {
    display: none;
  }

  #main .mainvisual .mBtn-wrap {
    display: block;
  }

  #main .mainvisual .localSelect {
    display: block;
    margin-bottom: 35px;
  }

  .Mmain {
    display: flex !important;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 0 25px;
    padding-top: 65px;
    position: absolute;
    top: 80px;
    z-index: 3;
  }

  #main .mainvisual {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  #main .mainvisual .mBtn-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #main .mainvisual .mBtn-wrap a {
    display: block;
    width: 90%;
    height: 60px;
    line-height: 60px;
    border: 1px solid #220ba6;
    border-radius: 80px;
    margin-bottom: 10px;
    padding-left: 10%;
    font-size: 17px;
    position: relative;
    background: #fff;
  }

  #main .mainvisual .mBtn-wrap a:after {
    content: '';
    display: inline-block;
    position: absolute;
    right: 15%;
    top: 26px;
    background: url(../icon/m-arrow02.png) center center no-repeat;
    width: 60px;
    height: 10px;
    background-size: 100%;
  }

  #main .mainvisual .mBtn-wrap a:nth-child(1):after {
    background: url(../icon/m-arrow01.png) center center no-repeat;
    background-size: 100%;
  }

  #main .mainvisual .mBtn-wrap a:nth-child(2) {
    background: #1fadcc;
    color: #fff;
    border-color: #1fadcc;
  }

  #main .mainvisual .mBtn-wrap a:nth-child(3) {
    background: #4a2fe0;
    color: #fff;
    border-color: #4a2fe0;
  }

  #Mheader {
    display: block !important;
  }

  #Mheader .main {
    display: block !important;
  }

  #Mgnb {
    display: block !important;
  }

  .mainvisual .bg-wrap .bg {
    width: 130vw;
  }

  /* .bg-wrap .bg {display: none;}
	.bg-wrap .m-bg {display: block; position: absolute; left: 0; top: 0;}
	.bg-wrap .bg {left: 0; top: 0;}
	.text-wrap {display: none;} */
  .btn-localSelect {
    position: relative;
    font-size: 13px;
    margin-right: 10px;
    padding: 0 5px;
    top: -3px;
    border-bottom: 1px solid #220ba6;
  }

  .btn-localSelect i {
    color: #220ba6;
  }

  .select-text {
    display: inline-block;
    margin-right: 5px;
    color: #220ba6;
    font-size: 25px;
    font-weight: bold;
  }

  .localSelect {
    font-size: 25px;
    position: relative;
    display: inline-block;
  }

  /* .localSelect h2.title .br {display: none;} */
  .localSelect h2.title {
    line-height: 1.5;
  }

  .localSelect h2.title em {
    font-weight: bold;
  }

  #main .array_select {
    display: none;
    position: absolute;
    left: 130px;
    top: 20px;
    width: 115px;
    height: 135px;
    font-size: 13px;
    overflow-y: scroll;
    text-align: left;
    z-index: 2;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #eee;
    z-index: 10;
    box-shadow: 2px 2px 10px rgb(0 0 0 / 10%);
  }

  .array_select li {
    padding: 5px 10px;
  }

  .array_select li:hover {
    background-color: #e7e7e7;
  }

  .array_select.active {
    display: block;
  }

  #main .array_select.active {
    display: block;
  }

  .array_select::-webkit-scrollbar {
    width: 7px;
    border-radius: 5px;
  }

  /* .array_select::-webkit-scrollbar-track { background-color:#e7e7e7;} */
  .array_select::-webkit-scrollbar-thumb {
    background: #e7e7e7;
  }

  .array_select::-webkit-scrollbar-thumb:hover {
    background: #bbb;
  }

  .array_select::-webkit-scrollbar-thumb:active {
    background: #bbb;
  }




}